@font-face {
    font-family: "Jost";
    src: url("/assets/fonts/jost.ttf") format("truetype");
}
@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/inter.ttf") format("truetype");
}
@font-face {
    font-family: "Josefin Sans";
    src: url("/assets/fonts/josefinSans.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    src: url("/assets/fonts/openSans.ttf") format("truetype");
}

$jost: "Jost", sans-serif;
$inter: "Inter", sans-serif;
$josefin_sans: "Josefin Sans", sans-serif;
$open_sans: "Open Sans", sans-serif;
