@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Josefin+Sans:wght@200;300;400;500;600;700&family=Jost:wght@100;200;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

$jost: "Jost", sans-serif;
$inter: "Inter", sans-serif;
$josefin_sans: "Josefin Sans", sans-serif;
$open_sans: "Open Sans", sans-serif;
