@use "./styles/index.scss" as *;
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: $dark-color;
  // font-family: $jost;
}
