@use "/src/app/styles/colors" as *;

.try {
    padding: 100px 0;
}
.try__ellipse-container {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $cooper-green;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    border-radius: 8px;
}
.try__ellipse-mask {
    width: 150%;
    height: 150%;
    background-color: $dark-color;
    opacity: 0.5;
    clip-path: ellipse(20% 100% at 60% 50%);
}
.try__container {
    position: relative;
    width: 1100px;
    height: 175px;
    border-radius: 8px;
    background: $cooper-green;
}
.try__container__wrapper {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 500px;
    width: 1100px;
    height: 175px;
}
.try__text {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    gap: 10px;
}
.try__text-hypen {
    font-size: 220px;
    font-weight: 100;
    line-height: 20px;
    color: $solid-white;
}
.try__text-line {
    color: $solid-white;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.try__button {
    display: inline-flex;
    padding: 14px 20px;
    height: 46px;
    width: 156px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid $solid-white;
    background-color: transparent;
    color: $solid-white;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 428px) {
    .try {
        padding: 70px 0;
        width: 85%;
    }
    .try__container {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 120px;
    }
    .try__container__wrapper {
        position: absolute;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        width: 100%;
    }
    .try__ellipse-mask {
        clip-path: ellipse(23% 100% at 60% 50%);
    }
    .try__text {
        display: flex;
        flex-direction: column;
        margin-top: -20px;
        gap: 10px;
    }
    .try__text-hypen {
        font-size: 120px;
        font-weight: 150;
        line-height: 10px;
    }
    .try__text-line {
        font-size: 25px;
    }
    .try__button {
        font-size: 12px;
        padding: 0;
        height: 40px;
        width: 120px;
        justify-content: center;
        &:hover {
            transform: scale(1.1);
        }
    }
}
