@use "/src/app/styles/index.scss" as *;

.key {
    display: flex;
    padding: 100px 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 106px;
    background-color: $cooper-dark;
}
.key__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.key__header__title {
    display: flex;
    padding: 5px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: $cooper-green;
    color: $solid-white;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
}
.key__header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    align-self: stretch;
}
.key__header__heading {
    color: $solid-white;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}
.key__header__description {
    width: 891px;
    color: $solid-white;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.04px;
}
.key__carts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
}
.key__carts__wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.key__carts__try {
    display: flex;
    padding: 0 30px;
    height: 278px;
    width: 256px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;
    border-radius: 15px;
    background: rgba(57, 131, 120, 0.1);
}
.key__carts__try-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    color: $solid-white;
    font-family: $inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
}
.key__carts__try-button {
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: $solid-white;
    border-radius: 8px;
    background: $cooper-green;
    border: none;
    font-family: $josefin_sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 10px 60px 0px rgba(57, 131, 120, 0.5);
    }
}
@media screen and (max-width: 750px) {
    .key {
        padding: 70px 0;
        gap: 60px;
        width: 100%;
    }
    .key__header__wrapper {
        gap: 20px;
    }
    .key__header__heading {
        font-size: 22px;
        line-height: 50px;
    }
    .key__header__description {
        width: 85%;
        font-size: 14px;
        line-height: 20px;
    }
    .key__carts {
        gap: 60px;
    }
    .key__carts__wrapper {
        gap: 50px;
    }
    .key__carts__try {
        max-width: 356px;
        height: 300px;
        gap: 50px;
    }
    .key__carts__try-text {
        gap: 16px;
        font-size: 20px;
        letter-spacing: 0.3px;
    }
    .key__carts__try-button {
        padding: 14px 20px;
        gap: 16px;
        font-size: 14px;
        line-height: 18px;
    }
}
